<!DOCTYPE html>
<html>
<head>
  <title>Sp15Hw4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
        <li><%= link_to "Dogs",   '#' %></li>
        <li><%= link_to "Id1",   '#' %></li>
        <li><%= link_to "Create", '#' %></li>
    </ul>
    <%= link_to "Create New Dog", '#'%>
	<div class="container">
      <%= yield %>
    </div>

</body>
</html>
